body{
width: 100%;
/*background:url('sunset.jpg');*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 10px;
}
.container{
    width: 100%;
    padding: 0;
    margin: 0;
}
#all_quiz{
float: left;
width: 60%;
margin-left: 10px;
}
.welcome{
background: url(bcground2.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 3%;
}
.welcome h1{
    margin: 0;
    color: #fbb;
}
.welcome p{
    color: blueviolet;
}
.info_input{
width: 70%;
margin: 0 auto;
background-color:rgba(0,0,0,0.4);
text-align: center;
border-radius: 20% 0;
padding: 3%;
}
/* style the input field */
#enter_name{
color: yellow;
width: 70%;
padding: 2%;
border-radius: 20%;
text-align: center;
font-size: 30px;
box-shadow: 0 0 10px yellow;
background-color:aliceblue;
margin: 10px auto;
}

.finish_alert{
  /*  display: none;*/
    margin: auto;
    width: 60%;
    text-align: center;
    background: linear-gradient(to right , #427df4, #94b2ef);
}
.share_btn{
background: linear-gradient( to right, #1256e2, #389faf);
}
.play_again{
background: linear-gradient( to right, #1256e2, #389faf);
}
#start_btn{
font-size: 50px;
color: darkgoldenrod;
font-weight: bold;
background-color: rgba(0,0,0,0.7);
border-radius: 100%;
border: none;
margin: 3%;
padding: 4%;
box-shadow: 0 0 20px yellow;
}
.quiz_container{
background: url('gradbg.jpg');
background-position: center;
background-size: cover;
width: 100%;
margin:0 7px;
padding: 3%;
border-radius: 10%;
display: none;
box-shadow: 0px 0px 10px black;
}
.qst_container{
width: 90%;
background:linear-gradient(to bottom right, rgba(95,200, 160,0.8),rgba(39, 107, 109,0.8));
margin: 0 auto;
border-radius: 10%;
box-shadow: 5px 5px 20px black;
}
.qst{
text-align: center;
font-size: 40px;
}
.qst_img{
width: 30%;
display: block;
margin: 0 auto;
box-shadow: 5px 5px 20px black;
}
.options_list{
padding-left: 0;
}
.opt_container{
width: 50%;
padding: 2px;
}
.opt{
width: 70%;
text-align: center;
font-size: 20px;
margin: 5px auto;
padding: 2%;
background:linear-gradient(rgba(95, 158, 160,0.8),rgba(39, 107, 109,0.8));
cursor: pointer;
border-radius: 15% 0;
box-shadow: 5px 5px 20px black;
color:black;
}
.opt:hover{
    background-color: #ff00FF !important;
}
.btn_container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.btn_next_qst{
    width: 40%;
    border-radius: 50% 50% 50% 50%;
    background: linear-gradient(to right, red,pink);
    margin:auto;
    padding: 10px;
}
.btn_answer_now{
    width: 40%;
    border-radius: 50% 50% 50% 50%;
    background: linear-gradient(to right, pink, blue);
    margin: auto;
    padding: 10px;
}
.status_bar{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.time{
    text-align: center;
    color: yellow;
    font-size: 30px;
    margin: 0;
    padding: 0px 10px 0px 10px;
    width:auto;
    display: inline;
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(66, 244, 244,0.7),rgba(0,0,0,0.5));
    border-radius: 30%;
}
.score{
float: right;
color: yellow;
font-size: 30px;
width: 30%;
display: inline;
background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(66, 244, 244,0.7),rgba(0,0,0,0.5));
border-radius: 30%;
}
.qst_num{
float: left;
color: yellow;
font-size: 30px; 
width: 30%;
background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(66, 244, 244,0.7),rgba(0,0,0,0.5));
border-radius: 30%;
}
.notification{
    text-align: center;
    font-size: 35px;
    color: green;
    width: 100%;
    border-radius: 10%;
}
.restart{
    float: right;
    background-color: aqua;
    color: blue;
}



/* pub area */
.pub_area{
width: 30%;
float: right;
text-align: center;
border-width: 2px;
border-color: black;
border-style: solid;
}
.pub_area img{
    width: 60%;
    display: block;
    margin: 5px auto;
}